{% block body %}
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('css/card-test.css') }}">
    {% endblock %}

    <div class="containers">
        <div class="img3d_container">
            <div class="img3d_container--image">
                <img src="{{ asset('img/slider/1.jpg') }}" alt="3d image">
            </div>
            <div class="img3d_container--image">
                <img src="{{ asset('img/oeuvres/2.jpg') }}" alt="3d image">
            </div>
            <div class="img3d_container--image">
                <img src="{{ asset('img/slider/3.jpg') }}" alt="3d image">
            </div>
        </div>
    </div>

{% endblock %}