{# Footer #}
<footer class="bg-dark">
    <h4>Restez en contact</h4>
    <a href=""><i class="icofont-facebook"></i></a>
    <a href=""><i class="icofont-google-plus"></i></a>
    <a href=""><i class="icofont-instagram"></i></a>
    <a href=""><i class="icofont-linkedin"></i></a>
    <a href=""><i class="icofont-youtube"></i></a>
</footer>
{# End footer #}