


<li class="nav-item">
    <a class="nav-link" id="panier" href="{{ path('app_user') }}">
        {% if total > 0 %}
        <i class="icofont-cart-alt"><span class="count">{{ total }}</span></i>
        {% else %}
            <i class="icofont-cart-alt"><span class="count"></span></i>
        {% endif %}
    </a>
</li>
