
canvas{
    background: transparent;
    width: 100vh;
    height: 50%;
    margin-top: 13%;
}
input{
    display: none;
    width: 200px;
    height: 25px;
    line-height: 30px;
    position: absolute;
    bottom: 35px;
    left: calc(50% - 125px);
    background: none;
    color: white;
    font-size: 50px;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    border: 1px solid white;
    background: rgba(255,255,255,0.2);
}
