.containers {
    width: 95%;
    height: 50vh;
    margin-left: 25px;
    padding-left: 110px;


}
.img3d_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.img3d_container .img3d_container--title {
    font-size: 30px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    margin-bottom: 35px;
}
.img3d_container .img3d_container--title span#typewriter {
    font-weight: 600;
}
.img3d_container .img3d_container--image {
    max-width: 300px;
    height: auto;
    perspective: 3000px;
    transform-style: preserve-3d;
}
.img3d_container .img3d_container--image img {
    width: 100%;
    transform: rotateX(70deg) rotateZ(-60deg) translate3d(-140px, 0px, 70px);
    box-shadow: inset 10px 10px 15px 5px rgba(0, 0, 0, 0.4), -80px 60px 15px 5px rgba(0, 0, 0, 0.4);
    transition: all 0.5s;
    transform-style: preserve-3d;
    border-radius: 25px;
}
.img3d_container .img3d_container--image img:hover {
    transform: rotateX(0deg) rotateZ(0) translate3d(0, 0, 0);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}