
.wrapper {
    width: 100%;
    height: auto;
    padding-top: 45px;
    text-align: center;

}

.carousel {
    width: 90%;
    margin: auto;
    background: linear-gradient(to bottom, rgba(255, 254, 246, 0.97) 0%, rgba(117, 115, 115, 0.49) 100%);
    box-shadow: 12px 0 15px -4px rgba(61, 62, 63, 0.8), -12px 0 8px -4px rgba(73, 74, 75, 0.8);


}

.slick-slider {
    height: auto;

    border-radius: 10px;
}

.slick-slide {
    margin: 10px;

}

.slick-slide img {
    width: 100%;
    height: 340px;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

.wrapper .slick-dots li button:before {
    font-size: 20px;
    color: white;
}


