* {box-sizing:border-box}
body {

    font-size: 100%;
    color: #737171;
}


.navbar-brand {
    padding-right: 28px;
}

.index {
    background-image: url("../img/backimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

img {
    width: 350px;
    height: 300px;
}
a{
    text-decoration: none;
    color: black;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.carousel {
    width: 50vw;
    height: 50vh;
    overflow: hidden;
}

.carousel-item img {
    width: 50vw;
    height: 50vh;
}

/* Footer */
footer {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid #dfdfdf;
    text-align: center;
    color: #fff;
}

footer h4 {
    padding-bottom: 1.3rem;
}

footer a {
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    text-decoration: none;
    color: #fedfdf;
}

/* Filterizer */
.filtr-item img {
    width: 100%;
    height: auto;
}


.controls-filter {
    margin-bottom: 26px;
    color: red;
}

.date{font-size: 11px}
.comment-text{font-size: 12px}
.fs-12{font-size: 12px}
.shadow-none{box-shadow: none}
.name{color: #007bff}
.cursor:hover{color: blue}
.cursor{cursor: pointer}
.textarea{resize: none}


.favi {
    border-radius: 50%;
}

.img-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.uplImg  img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

@media screen and (max-width: 992px) {
    .containerb {
        display: none;
    }
}

.count {
    position: absolute;
    margin-right: 15%;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 100%;
    color: white;
}

.cont {
    display: flex;
}

/*profil*/
.upper-card {
    padding: 0 40px;
}

.user-detail-container {
    width: 70vw;
}

.user-detail {
    padding: 20px;
}

.user-detail .card {
    box-sizing: border-box;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    border: 0;
    padding: 20px;
    margin-bottom: 20px;
}

.user-detail .card .card-body {
    padding: 0;
}

.user-detail .card .card-img-top {
    width: 100%;
    text-align: center;
}

.user-detail .card .card-img-top img {
    height: 150px;
    width: 150px;

    border-radius: 7px;
}

.user-detail .user-profile-card {
    text-align: center;
}


.user-detail .user-profile-card h3 {
    margin: 5px 0;
}

.user-detail .user-detail-card span {
    font-size: 18px;
    color: blue;
    font-weight: 300;
}


.login {
    border-radius: 7px;
}