* {box-sizing:border-box}
body {
    font-size: 100%;
    color: #737171;
}


.navbar-brand {
    padding-right: 28px;
}

.index {
    background-image: url("../img/backimage.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

img {
    width: 350px;
    height: 300px;
}



.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.carousel {
    width: 50vw;
    height: 50vh;
    overflow: hidden;
}

.carousel-item img {
    width: 50vw;
    height: 50vh;
}

/* Footer */
footer {
    bottom: 0;
    margin-top: 60px;
    padding: 20px 0;
    border-top: 1px solid #dfdfdf;
    text-align: center;
    color: #fff;
}

footer h4 {
    padding-bottom: 1.3rem;
}

footer a {
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    text-decoration: none;
    color: #fedfdf;
}

/* Filterizer */
.filtr-item img {
    width: 100%;
    height: auto;
}


.controls-filter {
    margin-bottom: 26px;
    color: red;
}


