* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #777;
}

h1 {
    font-size: 36px;
    color: #555;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}



#team i {
    font-size: 26px;
    color: #555;
}


#team p {
    font-weight: 500;
}


#team .card {
    border-radius: 0;
    box-shadow: 5px 5px 15px #5d777e;
    transition: background-color 0.3s ease-in;
    -webkit-transition: background-color 0.3s ease-in;
    -moz-transition: background-color 0.3s ease-in;
}
