{% extends 'base.html.twig' %}


{% block body %}

    <main class="container">
    <div class="row">
            <div class="col-md-12 offset-1">
                <h2 class="display-4 py-4 ">Commentaires</h2>
            </div>
            <div class="col-md-8">

                {% for coms in comments %}
                <div class="d-flex flex-column comment-section">
                    <div class="bg-white p-2">
                        <div class="mt-2">

                            <p class="comment-text"> {{coms.content}}</p>

                        </div>
                    </div>
                </div>

                {% endfor %}

                <a href="{{ path('admin') }}" class="btn btn-outline-dark"> retour </a>
            </div>
    </div>
    </main>

{% endblock %}
