{% extends 'base.html.twig' %}

{% block title %}Demande de mot de passe{{ parent() }}{% endblock %}

{% block body %}
    <style>
        footer{
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>
    <main class="container">
        <h3 class="display-5 my-3">Demander un nouveau mot de passe</h3>
        <div class="row">
            <div class="col-md-8 offset-1">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">envoyer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </main>

{% endblock %}