{% apply inline_css(source('@style/bootstrap.min.css')) %}

    <div class="container">
        <div class="card mb-3 my-3 " style="background-color: rgba(125,224,243,0.43)">
            <div class="card-body my-2">
                <h3 class="card-title text-center my-3">{{ title }}</h3>
                <p class="lead text-center my-5">{{ message }} {{ lastName }}</p>
                <div class="my-5">
                </div>
            </div>
        </div>
    </div>

{% endapply %}


