{% apply inline_css(source('@style/bootstrap.min.css')) %}

    <div class="container">
        <div class="card mt-4">
            <div class="card-header bg-danger text-white">
                <h2 class="text-center">Demande de nouveau mot de passe</h2>
            </div>
            <div class="card-body">
                <p>Bonjour </p>
                <p> {{ firstName|capitalize }} demande une réinitialisation de son mot de passe.</p>

                <p>Merci,</p>
                <p>L'équipe de Art-Gallery</p>
            </div>
        </div>
    </div>
{% endapply %}
