{% extends 'base.html.twig' %}

{% block title %}{{ app.user.firstName }} {{ app.user.lastName }} {% endblock %}

{% block body %}
<main>
    <div class="container mt-4">
        <div>
            <h1 class="text-center">Modifier mon profile</h1>
        </div>
        <section class="row">
            <div class="col-md-8 offset-2 py-4 ">
                {{ form_start(form) }}
                {% block vich_image_widget %}
                    <div class="uplImg">{{ form_widget(form) }}</div>
                {% endblock %}
                <button type="submit" class="btn btn-dark">Enregistrer les modifier</button>
            </div>
        </section>
    </div>
</main>
{% endblock %}